{
  "openapi": "3.1.0",
  "info": {
    "title": "vLLM CI Agent Reads",
    "version": "1.0.0",
    "description": "Read-only compact API. Start with /agents.md for CLI workflows, freshness and coverage rules, and the directory of existing analytics APIs."
  },
  "servers": [
    {
      "url": "https://ci.vllm.ai"
    }
  ],
  "security": [],
  "paths": {
    "/api/agent/builds": {
      "get": {
        "operationId": "listBuilds",
        "summary": "Compact live build list; no jobs or chart history",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Must match the deployment organization.",
            "schema": {
              "type": "string",
              "default": "vllm"
            }
          },
          {
            "name": "pipeline",
            "in": "query",
            "required": false,
            "description": "Public allowlisted pipeline slug, not display name.",
            "schema": {
              "type": "string",
              "default": "ci"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commit",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/agent/build": {
      "get": {
        "operationId": "getBuild",
        "summary": "Live build and job attempts, including jobs that never ran",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Must match the deployment organization.",
            "schema": {
              "type": "string",
              "default": "vllm"
            }
          },
          {
            "name": "pipeline",
            "in": "query",
            "required": false,
            "description": "Public allowlisted pipeline slug, not display name.",
            "schema": {
              "type": "string",
              "default": "ci"
            }
          },
          {
            "name": "buildNumber",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{1,12}$"
            }
          },
          {
            "name": "failed",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "attempts",
            "in": "query",
            "required": false,
            "description": "Omit for latest attempts only.",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/agent/failures": {
      "get": {
        "operationId": "listFailures",
        "summary": "Main-CI failure episodes, compact analysis, and unknown poll freshness",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "resolved",
                "all"
              ],
              "default": "open"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/agent/queues": {
      "get": {
        "operationId": "listQueues",
        "summary": "Latest five-minute queue snapshots; missing is not zero",
        "parameters": [
          {
            "name": "queue",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/builds/trace": {
      "get": {
        "operationId": "getTrace",
        "summary": "Instrumented execution timing; not the live Buildkite roster",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildNumber",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{1,12}$"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 9999
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/builds/gpu": {
      "get": {
        "operationId": "getGpuSummary",
        "summary": "GPU sample summaries for an exact job interval; shared device activity",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildNumber",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{1,12}$"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Exclusive end; interval must be positive and at most seven days.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "required": true,
            "description": "Use 1 for this response shape. Omitting it returns the legacy raw-sample response.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read. Inspect timestamps, pagination and missing-data fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Build": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "state": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "number",
          "state",
          "url"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "state": {
            "type": "string"
          },
          "stepKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "queue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "runnableAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "exitStatus": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "softFailed": {
            "type": "boolean"
          },
          "retriesCount": {
            "type": "integer"
          },
          "retried": {
            "type": "boolean"
          },
          "retriedInJobId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parallelGroupIndex": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "state",
          "retried"
        ]
      },
      "GpuDeviceSummary": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sampleCount": {
            "type": "integer"
          },
          "utilizationSampleCount": {
            "type": "integer"
          },
          "meanUtilizationPercent": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              {
                "type": "null"
              }
            ]
          },
          "peakMemoryBytes": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "utilizationCoverage": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "firstSampleAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSampleAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "deviceId",
          "meanUtilizationPercent",
          "peakMemoryBytes",
          "utilizationCoverage"
        ]
      },
      "BuildList": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "source": {
            "type": "string"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "observedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "organization": {
            "type": "string"
          },
          "pipeline": {
            "type": "string"
          },
          "builds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Build"
            }
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "nextPage": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "schemaVersion",
          "source",
          "fetchedAt",
          "builds",
          "nextPage"
        ]
      },
      "BuildDetail": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "source": {
            "type": "string"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "observedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "organization": {
            "type": "string"
          },
          "pipeline": {
            "type": "string"
          },
          "build": {
            "$ref": "#/components/schemas/Build"
          },
          "counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "totalJobs": {
            "type": "integer"
          },
          "matchingJobs": {
            "type": "integer"
          },
          "attempts": {
            "enum": [
              "latest",
              "all"
            ]
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "offset": {
            "type": "integer"
          },
          "nextOffset": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "schemaVersion",
          "source",
          "fetchedAt",
          "build",
          "jobs",
          "nextOffset"
        ]
      },
      "FailureList": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "source": {
            "type": "string"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "observedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "alerts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alertId": {
                  "type": [
                    "string",
                    "integer"
                  ]
                },
                "jobName": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "lastFailedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "failureCount": {
                  "type": "integer"
                },
                "buildNumber": {
                  "type": [
                    "string",
                    "integer"
                  ]
                },
                "jobId": {
                  "type": "string"
                },
                "jobUrl": {
                  "type": "string"
                },
                "commit": {
                  "type": "string"
                },
                "resolvedAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "resolutionKind": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "classification": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "confidence": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "analysis": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "analyzedAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "analysisStale": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": []
            }
          },
          "offset": {
            "type": "integer"
          },
          "nextOffset": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "scope": {
            "type": "string"
          },
          "freshness": {
            "type": "string"
          }
        },
        "required": [
          "schemaVersion",
          "source",
          "fetchedAt",
          "observedAt",
          "alerts",
          "nextOffset"
        ]
      },
      "QueueList": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "source": {
            "type": "string"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "observedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "queues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "queue": {
                  "type": "string"
                },
                "observedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "ageSeconds": {
                  "type": "integer"
                },
                "stale": {
                  "type": "boolean"
                },
                "agentsIdle": {
                  "type": "integer"
                },
                "agentsBusy": {
                  "type": "integer"
                },
                "agentsTotal": {
                  "type": "integer"
                },
                "jobsScheduled": {
                  "type": "integer"
                },
                "jobsRunning": {
                  "type": "integer"
                },
                "jobsWaiting": {
                  "type": "integer"
                },
                "p50WaitSeconds": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "p90WaitSeconds": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "p95WaitSeconds": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "p99WaitSeconds": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": []
            }
          },
          "available": {
            "type": "boolean"
          },
          "pollingIntervalSeconds": {
            "type": "integer"
          },
          "missingData": {
            "type": "string"
          }
        },
        "required": [
          "schemaVersion",
          "source",
          "fetchedAt",
          "queues",
          "available"
        ]
      },
      "GpuSummary": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "source": {
            "type": "string"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "observedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "organization": {
            "type": "string"
          },
          "pipeline": {
            "type": "string"
          },
          "buildNumber": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "available": {
            "type": "boolean"
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpuDeviceSummary"
            }
          },
          "intervalMs": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "schemaVersion",
          "source",
          "fetchedAt",
          "available",
          "devices",
          "intervalMs",
          "truncated"
        ]
      },
      "Trace": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          },
          "complete": {
            "type": "boolean"
          },
          "truncated": {
            "type": "boolean"
          },
          "nextPage": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "lanes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "jobId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "parentId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "kind": {
                  "enum": [
                    "job",
                    "step",
                    "command",
                    "test"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "outcome": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "queue": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "durationMs": {
                  "type": "number"
                },
                "waitMs": {
                  "type": "number"
                },
                "url": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "critical": {
                  "type": "boolean"
                },
                "childCount": {
                  "type": "integer"
                },
                "gpuAvailable": {
                  "type": "boolean"
                }
              },
              "required": []
            }
          },
          "summary": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "latestReceivedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "observedStart": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "observedEnd": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "commandCount": {
                    "type": "integer"
                  },
                  "testCount": {
                    "type": "integer"
                  }
                },
                "required": []
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "available",
          "complete",
          "truncated",
          "nextPage",
          "lanes",
          "summary"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "responses": {
      "Error": {
        "description": "Request or data-source error; never interpret as a healthy empty result.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "string"
            },
            "description": "When supplied, wait before retrying."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
